:root {
  /* BOARD */
  --board-size: 17;
  /* Default */
  --primary-color: #3270a3;
  --primary-dark-color: #205885;
  --primary-dark-color-rgb: 32, 88, 133;
  --background-color: #292e34;
  --teal-color: #3ec89a;
  --red-color: #fe5b76;
  --cyan-color: #5bbcfe;
  --cyan-color-rgb: 91, 188, 254;
  --gray-color: #7a7a7a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ececec;
  font-family: "Poppins";
  outline: none;
}

body {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

section#board {
  position: relative;
  min-height: min(90vw, 90vh);
  width: min(90vw, 90vh);
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

section#board #pixels {
  --pxs-size: min(
    calc(90vw / var(--board-size)),
    calc(90vh / var(--board-size))
  );
  --pxs-bg-color-on: rgba(var(--primary-dark-color-rgb), 90%);
  --pxs-bg-color: var(--primary-dark-color);
  --pxs-apple-color: var(--red-color);
  --pxs-snake-color: var(--teal-color);
  height: var(--pxs-size);
  width: var(--pxs-size);
}

section#board div#gameEndOptions {
  position: absolute;
  height: 0%;
  width: 100%;
  overflow: hidden;
  transition: all 600ms;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 30%);
}

section#board div#gameEndOptions p,
section#board div#gameEndOptions p span {
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section#board div#gameEndOptions p span {
  font-weight: 800;
  letter-spacing: 1.2px;
  color: var(--teal-color);
}

section#board div#gameEndOptions button#newGame {
  margin-top: 10px;
}

@media (min-width: 500px) {
  div#moves {
    display: none;
  }
}